.resume-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.hidden {
  display: none;
}

#adContainer.backwards {
  z-index: -1;
}
